[hook "lint-staged"]
	event = pre-commit
	command = sh -c 'yarn nano-staged'

[hook "auto-install"]
	event = post-checkout
	command = sh -c 'yarn install'

[hook "full-test"]
	event = pre-push
	command = sh -c 'CI=true yarn pretest && yarn test'
