node_modules
dist
coverage
.tshy-build
.idea
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.turbo
.DS_Store
.cursor/mcp.json
PLAN.md

# tshy build temporary package.json files while building which end up throwing turbo watch in an infinite loop.
**/src/package.json

# AI tools
.claude/settings.local.json
