name: Node
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 20
          - 18
          - 16
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: yarn install
        run: yarn install --immutable

      - name: Eslint
        run: yarn eslint .
      - name: Validate package setup
        run: |
          yarn setup
          yarn prettier --write .
          git diff --exit-code -- . :^.yarn
      - name: Typescript
        run: yarn turbo tsc
      - name: Test packages
        run: yarn vitest --run --coverage
      - name: Integration tests
        run: yarn node --test integration/

      - name: Upload code coverage
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage/clover.xml
