name: CI

on:
  push:
    branches: ['main']
  pull_request:
    types: [opened, synchronize]

env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ vars.TURBO_TEAM }}

jobs:
  Compile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: ${{ runner.os }}-turbo-
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: 'yarn'
      - run: yarn install --immutable --immutable-cache
      - name: Typescript
        run: yarn tsc

  Linting:
    runs-on: ubuntu-latest
    needs: Compile
    steps:
      - uses: actions/checkout@v5
      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: ${{ runner.os }}-turbo-
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: 'yarn'
      - run: yarn install --immutable --immutable-cache
      - run: yarn tsc
      - run: yarn oxlint .
      - run: yarn prettier --check .
      - run: yarn eslint .
      - name: Validate package setup
        run: |
          yarn setup
          git diff --exit-code -- . :^.yarn

  Unit:
    name: Unit Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [18, 20, 22]
    steps:
      - uses: actions/checkout@v5
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      - run: yarn install --immutable --immutable-cache
      - run: yarn vitest --run --coverage
      - uses: codecov/codecov-action@v5

  e2e:
    name: End to End build tests
    runs-on: ubuntu-latest
    needs: Compile
    env:
      YARN_ENABLE_IMMUTABLE_INSTALLS: false
    steps:
      - uses: actions/checkout@v5
      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: ${{ runner.os }}-turbo-
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: 'yarn'
      - run: yarn install --immutable --immutable-cache
      - run: yarn tsc
      - name: Test isolated build of @inquirer/demo
        run: |
          cd $(yarn isolate-monorepo-package @inquirer/demo)
          yarn set version stable
          yarn install
          yarn tsc
          cd -
      - name: Test isolated build of @inquirer/demo (with npm)
        run: |
          cd $(yarn isolate-monorepo-package @inquirer/demo)
          npm install
          npm run tsc
          cd -
      - name: Run esm integration tests
        run: |
          cd $(yarn isolate-monorepo-package @inquirer/esm-integration-tests)
          yarn set version stable
          yarn install
          yarn test
          cd -
      - name: Run cjs integration tests
        run: |
          cd $(yarn isolate-monorepo-package @inquirer/cjs-integration-tests)
          yarn set version stable
          yarn install
          yarn test
          cd -

  Package:
    name: Are the types wrong?
    runs-on: ubuntu-latest
    needs: Compile
    steps:
      - uses: actions/checkout@v5
      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: ${{ runner.os }}-turbo-
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: 'yarn'
      - run: yarn install --immutable --immutable-cache
      - run: yarn turbo attw
